/* Estilos generales */
body {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center;    /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 50vh;          /* Establece la altura del cuerpo al 100% del viewport */
    margin: 0;              /* Elimina los márgenes predeterminados */
    font-family: 'Special Elite', sans-serif;
    background-color: black;
    color: wheat;
}

main {
    text-align: center;  /* Centra el texto dentro del main */
}

.formulario-container {
    max-width: 400px;
    width: 400px; /* Limita el ancho del contenedor del formulario */
    padding: 20px;    /* Agrega un relleno para espaciado */
    border-radius: 10px;
    box-shadow: 0 0 20px CRIMSON; /* Agrega sombra al contenedor */
    background-color: rgb(35, 35, 35); /* Color de fondo para el contenedor del formulario */
    border-style: solid;
    border-color: CRIMSON;
}

/* Estilos para el formulario */
label, input, textarea, button {
    display: block;     /* Coloca cada elemento en una nueva línea */
    margin-bottom: 15px; /* Espacio entre los elementos */
    width: calc(100% - 30px); /* Ajusta el ancho para compensar el margen */
}

button {
    width: 100%;       /* Botón ocupa todo el ancho */
    padding: 10px;     /* Agrega relleno al botón */
    background-color: CRIMSON; /* Color de fondo del botón */
    color: white;      /* Color del texto del botón */
    border: none;      /* Elimina el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer;   /* Muestra el cursor de apuntar */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

button:hover {
    background-color: #FF8C66; /* Cambia el color de fondo al pasar el cursor */
}

/* Otros estilos para el formulario, mensajes de éxito/error, etc. */
/* ... */

