/* Estilos generales comunes para main.css y contacto.css */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', sans-serif;
    background-color: black;
    overflow: initial;
    color: wheat;
    height: 100%; /* Ajusta la altura del body al 100% del viewport */
}

span {
    color: CRIMSON;
}

.container {
    margin: 10px auto 10px; /* Agrega un margen en la parte superior e inferior y centra horizontalmente */
    max-width: 1200px; /* Define un ancho máximo para el contenedor */
    padding: 0 20px; /* Agrega un relleno a los lados para separar el contenido de los bordes */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start; /* Alinea el header a la izquierda */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 10px; /* Ajusta el relleno solo para arriba y abajo */
    background-color: rgb(35, 35, 35);
    border-radius: 30px;
    box-shadow: 0 0 2em CRIMSON;
    border-style: solid;
    border-color: CRIMSON;
    transition: background 1s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: auto; /* Ancho automático basado en el contenido */
    height: 100vh; /* Altura del 100% del viewport */
    overflow: hidden; /* Oculta el contenido que pueda salir del header */
    flex-direction: column; /* Contenido apilado verticalmente */
}

header:hover {
    background-position: 100% 0;
    background-color: rgb(35, 35, 35);
}


#links-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#links-container a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    padding: 30px;
    overflow: hidden;
    transition: color 0.3s ease, transform 0.3s ease; /* Agrega transform a la transición */
    border-radius: 50px;
    
}

#links-container a:hover {
    color: CRIMSON;
    text-shadow: 0 0 10px CRIMSON, 0 0 40px CRIMSON, 0 0 80px CRIMSON;
    transform: scale(1.2);
}

#toggleButton {
    background-color: rgb(35, 35, 35);
    color: wheat;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#toggleButton:hover {
    background-color: crimson;
    color: black;
}




/* Estilos específicos para main.css */

main {
    max-width: 80%;
    margin: 100px auto;
    padding: 20px;
}

.imagen-personal {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: CRIMSON;
    box-shadow: 0 0 1em CRIMSON;
}

.caja {
    margin: auto;
    padding: 10px;
    max-width: 90%;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word; /* Utiliza overflow-wrap en lugar de word-wrap */
    border-style: dotted;
    border-color: turquoise;
}

.intro {
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: left;
    color: wheat;
    border-style: solid;
    border-color: CRIMSON;
    border-radius: 30px;
    box-shadow: 0 0 1em CRIMSON;
    transition: 0.5s linear;
    overflow-wrap: break-word; /* Utiliza solo overflow-wrap para ajustar el texto al contenedor */
}



.intro h1 {
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.intro p {
    margin: 10px;
    font-size: 18px;
}

.intro span {
    font-weight: bold;
}

.intro:hover {
    border-color: CRIMSON;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 3em CRIMSON;
}

.desplegables{
    margin: 0px 0px 0px;
    padding: 10px 100px 10px;

    border-style: dotted;
    border-color: turquoise;

    display:block;
}

/* Lenguajes */
#lenguajesContainer,
#conocimientosContainer,
#habilidadesContainer {
    max-height: 30px; 
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
#lenguajesContainer.hovered,
#conocimientosContainer.hovered,
#habilidadesContainer.hovered {
    max-height: 500px; 
}

.desplegable {
    width: 100%;
    margin: 20px; /* Espacio entre las secciones */
    padding: 20px 0px;
    background-color: black;
    color: wheat;
    box-shadow: 0 0 1em CRIMSON;
    border: 2px solid CRIMSON;
    border-radius: 30px;
    text-align: center;
    transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out; 
}

.desplegable:hover {
    border-color: CRIMSON;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 3em CRIMSON;
    max-height: 1000px;
    background-color: black; 
}

.desplegable h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: CRIMSON;
    background-color: black;

    border-radius: 10px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.desplegable ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    text-align: left; 
}

.desplegable li {
    transition: 0.5s ease-in-out;
    font-size: 18px;
    margin: 10px;
    padding-left: 15px;
    text-align: left; 
}

.desplegable li:before {
    content: "\2022";
    color: CRIMSON;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    text-align: left;
}


@keyframes levitar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 950px) {
    .container {
        margin: 20px auto; /* Reduce el margen en dispositivos más pequeños */
    }
}

@media (max-width: 950px) {
    header {
        flex-direction: row;
        align-items: center;
        max-width: 80%;
    }

    #links-container {
        flex-direction: row;
        align-items: center;
    }

    #links-container a {
        margin: 0px;
        padding: 5px;
        display: inline;
        position: relative;
        font-size: 1.5rem;
    }

    .caja {
        margin: 0px;
        display: inline-block;
        text-align: center;
    }

    .intro {
        margin: 10px;
        padding: 10px;
        display: block;
        position: relative;
        justify-content: center;
        text-align: left;
    }

    .imagen-personal {
        align-items: center;
    }

    .desplegables {
        display: block;
        width: 100%;
        height: auto;
    }

    .custom-eye {
        position: absolute;
        top: 123px;
        left: 1px;
    }

    #lenguajesContainer {
        max-height: 30px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
    .lenguajes {
        margin: 0px;
        padding: 10px;
        max-height: 300px;
        background-color: transparent;
    }

    .lenguajes:hover {
        border-color: CRIMSON;
        transition: 0.5s ease-in-out;
        box-shadow: 0 0 3em CRIMSON;
        max-height: 1000px; 
        background-color: black; 
    }
}